.container {
  margin-left: 5%;
  margin-right: 5%;
}

.inputStyle {
  background-color: #f0f0f0; /* Fondo gris claro */
  color: #888; /* Gris oscuro para el texto */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.buttonYellow {
  background-color: #f6f62e;
  color: #5c7cfa;
}

.selectStyle {
  background-color: #f0f0f0; /* Fondo gris claro */
  color: #333; /* Texto gris oscuro */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

