<headerComponent></headerComponent>
<div class="container">
  <div class="row">
    <div class="col">
      <input [(ngModel)]="search" class="inputStyle" placeholder="Search..." type="text">
    </div>
    <div class="col textRight ">
      <button (click)="add()" class="button buttonYellow">Agregar</button>
    </div>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th colspan="2">Acción</th>
    </tr>
    </thead>
    <tbody *ngIf="products.length>0; else tableTemplate" class="table-group-divider">
    <tr *ngFor="let product of getProducts()">
      <td><img [src]="product.logo" alt="logo"></td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.releaseDate }}</td>
      <td>{{ product.restructuringDate }}</td>
      <td>
        <button (click)="modify(product)">
          Modificar
        </button>
      </td>
      <td>
        <button (click)="delete(product)">
          Eliminar
        </button>
      </td>
    </tr>
    </tbody>
    <ng-template #tableTemplate>
      <tbody>
      <tr>
        <td colspan="6">
          <h2>
            No hay registros
          </h2>
        </td>
      </tr>
      </tbody>
    </ng-template>
  </table>

  <div class="row">
    <div class="col">
      <strong>
        {{ getProducts().length }}
        <label *ngIf="products.length==1; else labelTemplate">
          Resultado
        </label>
        <ng-template #labelTemplate>
          Resultados
        </ng-template>
      </strong>
    </div>
    <div class="col textRight">
      <select [(ngModel)]="totalResults" class="selectStyle">
        <option [value]="0">All</option>
        <option *ngIf="products.length>=5" [value]="5">5</option>
        <option *ngIf="products.length>=10" [value]="10">10</option>
        <option *ngIf="products.length>=20" [value]="20">20</option>
      </select>
    </div>
  </div>
</div>
