<headerComponent></headerComponent>
<div class="container">
  <div class="row">
    <div class="col">
      <input [(ngModel)]="search" placeholder="Search..." type="text">
    </div>
    <div class="col textRight ">
      <button class="buttonYellow">Agregar</button>
    </div>

  </div>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th colspan="2">Acción</th>
    </tr>
    </thead>
    <tbody *ngIf="accounts.length>0; else tableTemplate" class="table-group-divider">
    <tr *ngFor="let account of getAccounts()">
      <td>{{ account.logo }}</td>
      <td>{{ account.name }}</td>
      <td>{{ account.description }}</td>
      <td>{{ account.releaseDate }}</td>
      <td>{{ account.restructuringDate }}</td>
      <td>
        <button (click)="modify(account)">
          Modificar
        </button>
      </td>
      <td>
        <button (click)="delete(account)">
          Eliminar
        </button>
      </td>
    </tr>
    </tbody>
    <ng-template #tableTemplate>
      <tbody>
      <tr>
        <td colspan="6">
          <h2>
            No hay registros
          </h2>
        </td>
      </tr>
      </tbody>
    </ng-template>
  </table>

  <div class="row">
    <div class="col">
      {{ getAccounts().length }}
      <label *ngIf="accounts.length==1; else labelTemplate">
        Resultado
      </label>
      <ng-template #labelTemplate>
        Resultados
      </ng-template>
    </div>
    <div class="col textRight">
      <select [(ngModel)]="totalResults">
        <option [value]="0">All</option>
        <option *ngIf="accounts.length>=5" [value]="5">5</option>
        <option *ngIf="accounts.length>=10" [value]="10">10</option>
        <option *ngIf="accounts.length>=20" [value]="20">20</option>
      </select>
    </div>
  </div>
</div>
